

#content {
	background-color: white;
	height: 20vh;
	width: fit-content;
	margin: 20vh auto;
	border-radius: 20px;
	padding: 0 20px;
}

.nav a:hover {
	background-color: #ddd;
	color: black;
  }

  .nav a.active {
	background-color: #04AA6D;
	color: white;
  }